<nav *ngIf="loggedIn(); else noLoggedIn_navbar" class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">MyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/friends']">Friends</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
      <li class="nav-item dropdown float-right" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{getUnique_name() | titlecase}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *dropdownMenu> 
          <a class="dropdown-item fa fa-user" href="#">Edit Profile</a>
          <li class="divider dropdown-divider"></li>
          <a class="dropdown-item fa fa-sign-out" href="#" (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>


<ng-template #noLoggedIn_navbar>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/friends']">Friends</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/messages']">Messages</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/register']">Sign up</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</ng-template>